.HelpPage {
  margin-top: 57px;
  margin-bottom: -2px;
}

.HelpPage-container {
  height: 91vh;
  display: flex;
  flex-direction: row;
}

.HelpPage-container-left {
  width: 40%;
  background-color: #383838;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.HelpPage-container-right {
  width: 60%;
}

.HelpPage-text-box {
  width: 65%;
  margin: 0 auto 3rem auto;
}
.HelpPage-text-box h1 {
  font-weight: 400;
  margin-top: 3.5rem;
}
.HelpPage-text-box p {
  font-size: 0.8rem;
  color: grey;
  font-weight: 500;
  line-height: 1.3rem;
  margin: 1.1rem 0;
}

.HelpPage-name-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0 0.5rem 0;
}
.HelpPage-name-container input {
  width: 41%;
  border: 1px solid #d1d9d9;
  padding: 0.9rem 1.1rem;
  border-radius: 0.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: grey;
  font-size: 0.8rem;
}
.HelpPage-name-container input:focus {
  outline: none;
}

.HelpPage-input {
  width: 93%;
  border: 1px solid #d1d9d9;
  padding: 0.9rem 1.1rem;
  border-radius: 0.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: grey;
  font-size: 0.8rem;
  margin: 0.5rem 0;
}
.HelpPage-input:focus {
  outline: none;
}

.HelpPage-button-container {
  text-align: center;
  margin-top: 1.5rem;
}
.HelpPage-button-container button {
  border: none;
  cursor: pointer;
  color: #ffffff;
  background: linear-gradient(to right, #fb794a, #edb038);
  padding: 0.7rem 0rem;
  border-radius: 2rem;
  font-size: 0.8rem;
  font-weight: 500;
  width: 32%;
}

.help-img {
  width: 70%;
}
