.HomePage {
  margin-top: 56px;
}

.welcome-section {
  background-color: #383838;
  position: relative;
}

.hero-img {
 
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    right: 0;
    top: 0;
    -o-object-fit: contain;
    object-fit: contain;
    width: 100%;
}

.welcome-textbox {
  position: absolute;
  color: #ffffff;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.welcome-text1 {
  margin: 4rem 0 0 0;
  font-size: 2rem;
  font-size: 4.5vw;
  z-index: 10;
}

.welcome-text2 {
  font-family: Smoothy, Arial, serif;
  font-size: 2vw;
  font-weight: 400;
  margin: 0;
  z-index: 10;

  font-size: 6.5vw;
}

.curved-div {
  height: 150px;
  width: 100%;
  overflow: hidden;
  position: absolute;
  bottom: -1px;
}


.university-section-container {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 2rem;
  padding-top: 2rem;
  position: relative;
  height: 225px;
  margin-bottom: 200px;
}

.university-section-content-box-left {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-right: 20px;
}
.university-section-content-box-left h1 {
  font-size: 3.5rem;
  font-weight: 800;
  margin: 2rem 0 0.3rem -3px;
}
.ss{
  display: flex;
  flex-direction: column;
}

.university-section-content-box-left p {
  font-size: 0.9rem;
  margin-top: 0.7rem;
}

.fav-icon-container {
  width: 45%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.fav-icon {
  width: 15%;
}

.university-section-content-box-right {
  width: 100%;
  height: 100%;
  margin-left: 50px;
  margin-bottom: 20px;
}
.university-section-content-box-right h1 {
  font-weight: 400;
}
.university-section-content-box-right p {
  font-size: 0.8rem;
  color: grey;
}

.university-icon-container {
  width: 25%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.university-logo {
  width: 45%;
}

.features-section {
  width: 100%;
  margin: 0 auto;
  padding: 7rem 2rem;
  margin-top: 60px;
}

.features-section-title {
  width: 70%;
}
.features-section-title h1 {
  font-weight: 400;
  line-height: 3rem;
}

.features-container-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.feature-item {
  width: 26%;
  padding: 1.5rem 0;
}

.feature-img {
  width: 25%;
}

.feature-text {
  font-size: 0.8rem;
  line-height: 1.2rem;
}

.event-curved-div {
  width: 100%;
  height: 150px;
  overflow: hidden;
  margin-bottom: -1px;
}

.events-section-text-div {
  background-color: #2f2f2f;
  color: #ffffff;
  text-align: center;
  padding-top: 2rem;
}
.events-section-text-div h1 {
  font-family: Smoothy, Arial, serif;
  font-size: 4rem;
  font-weight: 400;
  margin: 0;
  line-height: 5rem;
}
.events-section-text-div p {
  font-size: 0.9rem;
  line-height: 1.4rem;
  margin: 0.5rem 0 0 0;
}

.events-section-title-container {
  width: 50%;
  margin: 0 auto;
}

.events-section-subtitle-container {
  width: 35%;
  margin: 0 auto;
}

.events-section-container {
  text-align: center;
  background: linear-gradient(to bottom, #2f2f2f, #434343);
  position: relative;
}
.events-section-container button {
  position: absolute;
  top: 1.5rem;
  left: 44%;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border: none;
  cursor: pointer;
  color: #ffffff;
  background: linear-gradient(to right, #fb794a, #edb038);
  padding: 0.7rem 1.6rem;
  border-radius: 2rem;
  font-weight: 600;
}

.events-img {
  width: 60%;
  margin: 0 auto;
}

.experience-section-container {
  width: 60%;
  margin: 7rem auto;
}
.experience-section-container h1 {
  font-weight: 400;
}

.experience-section-content-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.experience-section-content-div-left {
  width: 40%;
}
.experience-section-content-div-left p {
  font-size: 0.8rem;
}

.experience-section-content-div-right {
  width: 50%;
}

.teacher-img {
  margin-top: -2rem;
}
.workshops-section{
  margin: 0 auto 0 .8rem;
}
.workshops-section h1 {
  width: 60%;
  margin: 0 auto;
  font-weight: 400;
  text-align: center;
}

.workshops-section-card-container {
  width: 80%;
  margin: 2rem auto 7rem auto;
}

.workshops-section-card-container-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.workshops-section-card {
  width: 25%;
  text-align: center;
  padding: 1.1rem;
}
.workshops-section-card p {
  font-size: 0.8rem;
  text-align: left;
  line-height: 1.2rem;
}

.workshop-img {
  width: 100%;
}

.workshop-feature-img {
  width: 55%;
  margin-top: 1.7rem;
  margin-bottom: 1.4rem;
}

.testimonial-section {
  position: relative;
  background: linear-gradient(to bottom, #2f2f2f, #313131);
}

.empty-div {
  height: 150px;
  background: #ffffff;
}

.testimonial-curved-div {
  position: absolute;
  overflow: hidden;
  top: 0px;
  width: 100%;
  height: 150px;
}

.testimonial-section-container {
  width: 65%;
  margin: 0 auto;
  position: relative;
}

.testimonial-section-title-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.testimonial-section-title-div h1 {
  width: 50%;
  color: #ffffff;
  font-family: Smoothy, Arial, serif;
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 5.5rem;
  margin-top: 2rem;
}

.slideshow {
  overflow: hidden;
  width: 100%;
  padding-top: 27%;
}
.slideshowSlider {
  position: relative;
  white-space: nowrap;
  transition: ease 1000ms;
}
.slide {
  display: inline-block;
  width: 100%;
}
.slide h1 {
  white-space: normal;
}
.slide-full-div {
  padding-top: 223px;
}
.slide-full-div-text {
  position: absolute;
  top: 0;
  width: 100%;
}
.slideshowDotsContainer {
  bottom: 0;
  right: -5rem;
  align-items: center;
  margin-left: 100px;
  padding-bottom: 10%;
  margin-left: 40%;
}
.slideshowDot {
  cursor: pointer;
  height: 0.5rem;
  width: 0.5rem;
  margin: 0 3px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.checked {
  background-color: #3eac72 !important;
}

.testimonial-section-content-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #ffffff;
}
.testimonial-section-content-box-left {
  width: 50%;
}
.testimonial-section-content-box-right {
  width: 50%;
}

.student-img {
  margin: 0 auto;
  width: 300px;
  height: 300px;
  border-radius: 100% 0% 100% 100%;
}

.star-container {
  width: 30%;
}

.star-icon {
  width: 15%;
  margin-right: 0.5rem;
}

.testimonial-text {
  font-size: 0.9rem;
  font-weight: 500;
  width: 95%;
  line-height: 1.4rem;
  margin: 1.8rem 0;
  white-space: normal;
}

.name-text {
  padding: 0 0 0.2rem 0;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  font-weight: 500;
}

.board-text {
  font-size: 0.8rem;
  font-weight: 300;
  margin-top: 0;
}

.conclusion-section {
  padding:10%;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  justify-content: flex-start;
}
.conclusion-section h3 {
  font-weight: 400;
  width: 65%;
  margin: 0 auto;
  text-align: center;
}
.conclusion-section h1 {
  font-weight: 400;
  text-align: center;
  margin: 1.4rem 0 2rem 0;
}
.conclusion-section button {
  border: none;
  cursor: pointer;
  color: #ffffff;
  background: linear-gradient(to right, #fb794a, #edb038);
  padding: 0.7rem 2.6rem;
  border-radius: 2rem;
  font-weight: 600;
  margin: 0 auto;
}
.jj{
  justify-content: flex-start;
}

@media screen and (max-width:860px){
   .hero-img{
     height: 90vh;
     object-fit: cover;
     padding:10px;
   }
   .university-section{
     display: flex;
     flex-direction: column;
   }
   .features-section-title{
     width: 100%;
   }
   .features-container-row{
     width: 100%;
     justify-content: space-between;
     display: block;
   }
   .feature-item{
     display: flex;
     width: 100%;
   }
   .feature-img{
    padding-left: 5%;
     margin-right: 8px;
     width: 25%;
   }
   .features-section-title h1{
     line-height: normal;
   }
   .slide{
     font-size: small;
     width: 100%;
     margin-right: 10%;
   }
   .university-section-content-box-right{
    width: 100%;
    font-size: 0.6rem;
    margin:0;
    margin-left: 2%;
   }
   .university-section-content-box-left{
    align-items: center;
    width: 100%;
  }
   .university-section-content-box-left h1 {
    font-size: 2.5rem;
    font-weight: 800;
    margin: 2rem 0rem  0.3rem -3px;
    align-items: center;
  }
   .events-section-container button{
      left:25%;
   }
   .events-img {
    width: 100%;
    margin: 20px auto;
}
  .experience-section-content-div-left {
    width: 100%;
  }
  .experience-section-content-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.experience-section-content-div-left h3{
  font-size: calc(0.8rem + .6vw);
  font-weight: bold;
}
.experience-section-container h1{
  font-size: calc(1.0rem+1.5vw);
  font-weight: bold;
}
.experience-section-content-div-left p {
  margin-bottom: 0;
  font-size: 0.8rem;
  font-weight: bold;
}
.experience-section-container {
  width: 100%;
  padding: 1rem 1rem;
}
.experience-section-content-div-right {
  width: 90%;
  margin-top: 2rem;
}
.workshops-section-card-container-row {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.workshop-img{
  width:50%;
}
.workshops-section-card {
  display: flex;
  flex-direction: row;
  width: 100%;
  text-align: center;
  padding: 0.5rem;
}
.testimonial-section-title-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.testimonial-section-title-div h1 {
  width: 100%;
  color: #ffffff;
  font-family: Smoothy, Arial, serif;
  font-size: 2.0rem;
  font-weight: 400;
  line-height: 2.5rem;
  margin-top: 2rem;
}

.conclusion-section h3 {
  justify-content: flex-start;
  font-weight:bold;
  width: 100%;
  margin: 0 auto;
  text-align: flex-start;
  font-size: 1rem;
}

.homepg{
  width: 100%;
  padding-top:0 !important;
}
.links-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  border-top: 1px solid #d1d9d9;
  padding-left: 1.5rem;
  /* padding: 0; */
  padding-right: 0;
  padding-bottom: 0;
  padding-top: 10%;

}
.links-vertical-div{
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
}
.slideshow{
  padding-top:20%;
  height: 300px;
  margin-bottom: 20px;
  font-size: x-small;
  margin-right: 20px;
}

.university-section-container{
  display: flex;
  flex-direction: column;
}
.events-section-title-container {
  width:100% ; 
  margin: 0 auto;
}
.events-section-text-div h1 {
  font-family: Smoothy, Arial, serif;
  font-size: 3rem;
  font-weight: 400;
  margin: 0;
  line-height: 5rem;
}
.welcome-text2{
  font-size: 10.5vw;
}
.university-icon-container {
  width: 35%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
 }
 .pp{
   padding-left: 5%;
 }
} 