.HomePage {
  margin-top: 56px;
}

.welcome-section {
  background-color: #383838;
  position: relative;
}

.hero-img {
  width: 100%;
}

.welcome-textbox {
  position: absolute;
  color: #ffffff;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.welcome-text1 {
  margin: 4rem 0 0 0;
  font-size: 2rem;
}

.welcome-text2 {
  font-family: Smoothy, Arial, serif;
  font-size: 4rem;
  font-weight: 400;
  margin: 0;
}

.curved-div {
  height: 150px;
  width: 100%;
  overflow: hidden;
  position: absolute;
  bottom: -1px;
}

.university-section-container {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 2rem;
  position: relative;
  height: 225px;
}

.university-section-content-box-left {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.university-section-content-box-left h1 {
  font-size: 3.5rem;
  font-weight: 800;
  margin: 2rem 0 0.3rem -3px;
}
.university-section-content-box-left p {
  font-size: 0.9rem;
  margin-top: 0.7rem;
}

.fav-icon-container {
  width: 45%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.fav-icon {
  width: 15%;
}

.university-section-content-box-right {
  width: 65%;
}
.university-section-content-box-right h1 {
  font-weight: 400;
  margin-top: 2rem;
}
.university-section-content-box-right p {
  font-size: 0.8rem;
  color: grey;
}

.university-icon-container {
  width: 25%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.university-logo {
  width: 45%;
}

.features-section {
  width: 60%;
  margin: 0 auto;
  padding: 7rem 0;
}

.features-section-title {
  width: 70%;
}
.features-section-title h1 {
  font-weight: 400;
  line-height: 3rem;
}

.features-container-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.feature-item {
  width: 26%;
  padding: 1.5rem 0;
}

.feature-img {
  width: 25%;
}

.feature-text {
  font-size: 0.8rem;
  line-height: 1.2rem;
}

.event-curved-div {
  width: 100%;
  height: 150px;
  overflow: hidden;
  margin-bottom: -1px;
}

.events-section-text-div {
  background-color: #2f2f2f;
  color: #ffffff;
  text-align: center;
  padding-top: 2rem;
}
.events-section-text-div h1 {
  font-family: Smoothy, Arial, serif;
  font-size: 4rem;
  font-weight: 400;
  margin: 0;
  line-height: 5rem;
}
.events-section-text-div p {
  font-size: 0.9rem;
  line-height: 1.4rem;
  margin: 0.5rem 0 0 0;
}

.events-section-title-container {
  width: 50%;
  margin: 0 auto;
}

.events-section-subtitle-container {
  width: 35%;
  margin: 0 auto;
}

.events-section-container {
  text-align: center;
  background: linear-gradient(to bottom, #2f2f2f, #434343);
  position: relative;
}
.events-section-container button {
  position: absolute;
  top: 1.5rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border: none;
  cursor: pointer;
  color: #ffffff;
  background: linear-gradient(to right, #fb794a, #edb038);
  padding: 0.7rem 1.6rem;
  border-radius: 2rem;
  font-weight: 600;
}

.events-img {
  width: 60%;
  margin: 0 auto;
}

.experience-section-container {
  width: 60%;
  margin: 7rem auto;
}
.experience-section-container h1 {
  font-weight: 400;
}

.experience-section-content-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.experience-section-content-div-left {
  width: 40%;
}
.experience-section-content-div-left p {
  font-size: 0.8rem;
}

.experience-section-content-div-right {
  width: 50%;
}

.teacher-img {
  margin-top: -2rem;
}

.workshops-section h1 {
  width: 60%;
  margin: 0 auto;
  font-weight: 400;
  text-align: center;
}

.workshops-section-card-container {
  width: 80%;
  margin: 2rem auto 7rem auto;
}

.workshops-section-card-container-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.workshops-section-card {
  width: 25%;
  text-align: center;
  padding: 1.1rem;
}
.workshops-section-card p {
  font-size: 0.8rem;
  text-align: left;
  line-height: 1.2rem;
}

.workshop-img {
  width: 100%;
}

.workshop-feature-img {
  width: 55%;
  margin-top: 1.7rem;
  margin-bottom: 1.4rem;
}

.testimonial-section {
  padding-bottom: 5rem;
  position: relative;
  background: linear-gradient(to bottom, #2f2f2f, #313131);
}

.empty-div {
  height: 150px;
  background: #ffffff;
}

.testimonial-curved-div {
  position: absolute;
  overflow: hidden;
  top: 0px;
  width: 100%;
  height: 150px;
}

.testimonial-section-container {
  width: 65%;
  margin: 0 auto;
  position: relative;
}

.testimonial-section-title-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.testimonial-section-title-div h1 {
  width: 50%;
  color: #ffffff;
  font-family: Smoothy, Arial, serif;
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 5.5rem;
  margin-top: 2rem;
}

.slideshow {
  overflow: hidden;
  width: 100%;
}
.slideshowSlider {
  position: relative;
  white-space: nowrap;
  transition: ease 1000ms;
}
.slide {
  display: inline-block;
  width: 100%;
}
.slide h1 {
  white-space: normal;
}
.slide-full-div {
  padding-top: 223px;
  position: relative;
}
.slide-full-div-text {
  position: absolute;
  top: 0;
}
.slideshowDotsContainer {
  position: absolute;
  bottom: 0;
  right: -5rem;
}
.slideshowDot {
  cursor: pointer;
  height: 0.5rem;
  width: 0.5rem;
  margin: 0 3px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.checked {
  background-color: #3eac72 !important;
}

.testimonial-section-content-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #ffffff;
}
.testimonial-section-content-box-left {
  width: 50%;
}
.testimonial-section-content-box-right {
  width: 50%;
}

.student-img {
  margin: 0 auto;
  width: 300px;
  height: 300px;
  border-radius: 100% 0% 100% 100%;
}

.star-container {
  width: 30%;
}

.star-icon {
  width: 15%;
  margin-right: 0.5rem;
}

.testimonial-text {
  font-size: 0.9rem;
  font-weight: 500;
  width: 95%;
  line-height: 1.4rem;
  margin: 1.8rem 0;
  white-space: normal;
}

.name-text {
  padding: 0 0 0.2rem 0;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  font-weight: 500;
}

.board-text {
  font-size: 0.8rem;
  font-weight: 300;
  margin-top: 0;
}

.conclusion-section {
  width: 70%;
  margin: 0 auto;
  padding: 7rem;
  text-align: center;
}
.conclusion-section h3 {
  font-weight: 400;
  width: 65%;
  margin: 0 auto;
  text-align: center;
}
.conclusion-section h1 {
  font-weight: 400;
  text-align: center;
  margin: 1.4rem 0 2rem 0;
}
.conclusion-section button {
  border: none;
  cursor: pointer;
  color: #ffffff;
  background: linear-gradient(to right, #fb794a, #edb038);
  padding: 0.7rem 2.6rem;
  border-radius: 2rem;
  font-weight: 600;
  margin: 0 auto;
}
