.Navbar {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  top: 0;
  background-color: #383838;
  color: #ffffff;
  height: 57px;
  z-index: 10;
  width: 100vw;
}

.Navbar-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav-link {
  padding:0 !important;
  text-decoration: none;
  color: #ffffff !important;
}

.Navbar-container-left {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.Navbar-container-right {
  width: 30%;
  margin-left: 22%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.try-free-button {
  background: linear-gradient(to right, #fb7b49, #edaf38);
  outline: none;
  border: none;
  color: #ffffff;
  padding: 0.1rem 1.2rem;
  border-radius: 1rem;
  cursor: pointer;
  margin-right: 10px;
}
.try-free-button:hover {
  transform: scale(1.02);
  transition: 0.3s ease;
}

.Navbar-items {
  font-size: 0.9rem;
  cursor: pointer;
  padding: 1.1rem 0.9rem;
  margin: 0;
}

.activ {
  border-bottom: 4px solid #ffb53e;
}

.course-div {
  position: relative;
}

.course-menu-1 {
  position: absolute;
  top: 58px;
  left: -6px;
  width: 200px;
  background-color: #ffffff;
  padding: 0.6rem 0;
  color: black;
  border-radius: 0 0 8px 8px;
}
.course-menu-1 div {
  padding: 0.6rem 0 0.6rem 2rem;
  font-size: 0.8rem;
  margin: 0;
  border-radius: 2rem 0 0 2rem;
}

.course-menu-1-item {
  position: relative;
}

.course-menu-1-item:hover {
  background: linear-gradient(to right, #fb7b49, #edaf38);
  color: #ffffff;
}

.active-item {
  background: linear-gradient(to right, #fb7b49, #edaf38);
  color: #ffffff;
}

.course-menu-2 {
  position: absolute;
  left: 208px;
  top: 1px;
  width: 200px;
  background-color: #ffffff;
  padding: 0.6rem 0;
  color: black;
  border-radius: 0 0 8px 8px !important;
  padding-left: 0 !important;
}

.dim {
  position: fixed;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  top: 56px;
  left: 0;
}

.down-icon {
  width: 13px;
  margin-left: 0.3rem;
  margin-bottom: -1px;
}

.profile-div {
  position: relative;
  padding-left: 4px;
  padding-right: 4px;
}

.profile-menu {
  position: absolute;
  top: 58px;
  left: 2px;
  width: 190px;
  background-color: #ffffff;
  padding: 0.6rem 0;
  color: black;
  border-radius: 0 0 8px 8px;
  border: 1px solid #d1d9d9;
}
.profile-menu div {
  font-size: 0.8rem;
  margin: 0;
  border-radius: 2rem 0 0 2rem;
}
.profile-menu div p {
  margin: 0;
  padding: 0.6rem 0 0.6rem 2rem;
}


.name-text {
  padding-top: 11%;
}
.course-text{
  padding-top:20%;
}

.ec-logo {
  margin-left: 5%;
  margin-right: 5%;
  width: 5%;
  cursor: pointer;
}

.no-subject-item {
  cursor: auto;
}
.bar{
  display: none;
}

.nav_left{

  display: flex;
  flex-direction: row;
}
.remove{
  display: flex;
  flex-direction: row;
}
.sec{
  display: flex;
  flex-direction: row;
}
.sec_shrink{
     display: flex;
     flex-direction: row;
}

.j{
  display: none;
}

.new_nav{
  display: flex !important;
  flex-direction: row !important;
  width: 100%;
}
.hide_vertical_nav{
  display: none;
}
.show_vertical_nav{
  width: 100%;
  height: 100vh;
  display: block;
  position: absolute;
  left:0;
  top:56px;
  transition: all 0.5s ease-in;
  background-color: #383838;
  font-size: small;
}
.nav_list{
  padding-top:10%;
  list-style: none;
}
.nav_list_item{
  padding:4px;
  padding-left:20px;
}

/* .nav_list_item:hover{
  background: linear-gradient(to right, #fb7b49, #edaf38);
  border-radius: 3rem 0 0 2rem;
} */
.dropdown{
  position: relative;
}
.dropdown ul{
  display: relative;
  list-style: none; 
}
.drop_list_item{
  padding:6px;
}

.color{
  background: linear-gradient(to right, #fb7b49, #edaf38);
  border-radius: 2rem 0 0 2rem;
}
.vv{
  padding-bottom: 6px;
}
.lev3_item:hover{
  background: linear-gradient(to right, #fb7b49, #edaf38);
  border-radius: 2rem 0 0 2rem;
}
.lev3_item{
  padding:3px;
}
/* .box_list li{
   transform-origin: 50% 0%;
   transform:perspective(350px) rotateX(-90deg);
   box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}
.box_list:hover li{
  transform:perspective(350px) rotateX(0deg);
  transition:0.2s linear 0s;
} */
.stop-scroll{
   height: 100%;
   overflow-y: hidden !important;

}
@media screen and (max-width:1050px){

  .bar{
     display: block;
     margin-right: 10px;
     padding-left: 5%;
   }
   .nav_left{
    /* styling when not hidden*/
     display: flex;
     flex-direction: column;
     z-index: 1;
     transition: all 0.5s ease-in-out;
     left:0;
     position: absolute;
     margin-top: 500px;
     width: 100vw;
     background-color: #383838;
   }
   .body{
     background-color: #383838;
   }
   .remove{
    display: flex;
    flex-direction: column;
    width:100%;
    left:-100%  ; 
    transition: all 0.5s ease-in-out;
    opacity: 1;
    position: absolute;
   }
   .sec{
    display: flex;
    flex-direction: column;
    z-index: 1;
    transition: all 0.5s ease-in-out;
    left:0;
    position: absolute;
    margin-top: 1960px;
    width: 100vw;
    background-color: #383838;
    padding-bottom: 900px;
    
   }
   .sec_shrink{
    display: flex;
    flex-direction: column;
    width:100%;
    left:-100%  ; 
    transition: all 0.5s ease-in-out;
    opacity: 1;
    position: absolute;

   }
   .try-free-button {
    background: linear-gradient(to right, #fb7b49, #edaf38);
    outline: none;
    border: none;
    width: fit-content;
    color: #ffffff;
    padding: 0.4rem 0.8rem;
    border-radius: 1rem;
    cursor: pointer;
    margin-left: 10%;
    position: absolute;
    right:0 !important;
  }
  .ff{
    white-space: nowrap;
    font-size: x-small;
  }
  .ec-logo{
    position: absolute;
    right:45%;
    width: 13%;
    margin:0;
  }
  .course-menu-2 {
    position: static;
    left: 10%px;
    top: 1px;
    width: 200px;
    padding: 0.6rem 0;
    color: white !important;
    border-radius: 0 0 8px 8px !important;
    padding-left: 0 !important;
    background-color: #383838;
  }
  .course-menu-1-item:hover {
    background:#383838;
    color: #ffffff;
}
  .uu:hover{
    background: linear-gradient(to right, #fb7b49, #edaf38);
    padding: 5px;
    border-radius: 2px;
  }
  .active-item{
    background: none;
  }
  
  .course-menu-1{
    background-color: #383838;
    color: white;
  }
  .course-menu-1-item{
    display: flex;
    flex-direction: column;
  }
  
  .uu:hover{
    background: linear-gradient(to right, #fb7b49, #edaf38);
  }
  .active-item{
    background-color: #383838;
  }
  .ll:hover{
    background: linear-gradient(to right, #fb7b49, #edaf38);
    border-radius: 2px;
    padding:2px;
  }
  .course-text{
    padding:0;
    padding-left: 3%;
  }
  .login{
    padding-left: 6%;
  }
  .course-menu-1 div {
    padding: 0.6rem 0 0.6rem 2rem;
    font-size: 0.8rem;
    margin: 0;
    border-radius: 2rem 0 0 2rem;
    margin-left: 9%;
}
.mm:hover{
  background: linear-gradient(to right, #fb7b49, #edaf38);
}
.blogs{
  padding-bottom:20px;
}
.Login{

  padding:4px;
  padding-top:30px;
padding-bottom: 30px;
margin:0 !important;
 padding-left: 20px;
}
.line1{
  height:1px;
  width:100%;
  background-color: white;
}
.line2{
  height:1px;
  width:100%;
  background-color: white;
  margin-bottom: 20px;
}

 
}